# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project specified files
*.project
*.save
*.vcxproj
*.filters
*.sln
*.pro
*.user

# Log files
*.lastbuildstate
*.log
*.tlog

#Directories
build/
bin/
